extends ./layout.jade

block content
    h2 Archives

    br

    .row
        .columns.large-4
            button(class="button small", data-toggle="new_archive") New Archive
            form(id="new_archive", class="hide", method="post", action="/archives", data-toggler=".hide")
                label
                    Path
                br
                input(type="text", name="path", placeholder="Path to directory with audio files.")
                input(type="submit", value="Save Archive", class="button small success")

    br

    h4 Device
    p(id="device_name")=device.name
    ul(class="no-bullet")
        for archive in archives
            li
                strong=archive.name
                p=archive.path
