doctype html
html(lang="en")
    head
        title=title
        link(rel="stylesheet", href="/css/main.css")
    body
        ul
            li
                a(href="/") Home
            li
                a(href="/archives") Archives
        hr

        block content